li {
  list-style: none;
}

.Hello div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0;
}

span.textbox {
  background-color: #fff;
  color: black;
  line-height: 20px;
  height: 20px;
  padding: 3px;
  border: 1px #888 solid;
  font-size: 1.1rem;
  min-width: 250px;
}

a.cwda {
  color: (internal value);
  text-decoration: underline;
  cursor: pointer;
}
a.cwda:visited {
  color: (internal value);
  text-decoration: underline;
  cursor: pointer;
}
a.cwda:active {
  color: (internal value);
}